

.big {
    border: 1px solid #f07171;
    background-color: #d4d4d4;
    margin: 10px;
}

img {
    width: 100px;
    height: 100px;}

body {
    background-color: #99cc99;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h3 {
    text-align: right;
}
.box-big {
    text-align: center;
  
    border: 1px solid blue;
    margin-top: 10px;
}
.box1 {
    margin: 10px;
    border: 1px solid #f07171;
}
.box2 {
    margin: 10px;
    border: 1px solid #f07171;
}
.box-big1 {
    width: 40%;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #f07171;
    background-color: #66cccc;
}

header {
    width: auto;
    height: 120px;
    border: 3px solid #000;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    text-align: 120px;
}
.line {
    width: auto;
    border-top: 3px solid #99cc99 ;
    margin-left: 10px;
    margin-right: 10px;
}
aside {
    margin-top: 10px;
    width: auto;
    height: 20px;
    display: flex; 
    justify-content: center;
}
nav  {
    position: relative;
    background-image: linear-gradient(0,#000,#089008);
    color: #fff;
    padding: 10px;
    width: 550px;
    margin-left: 10px;
   border: 1px solid #000;
   /* display: flex; */
   /* justify-content: center; */
   
}
nav a {
  
    text-decoration: none;
   
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block; /* Hiển thị mỗi mục trong một ô riêng lẻ */

}
nav ul li {
    display: inline;
    margin-right: 30px;
}

section {
    margin-left: 10px;
    margin-right: 10px;
    padding: 20 10 20 10;
    display: flex;
    text-align: center;
}



footer {
    
    background-color: #d4d4d4 ;
    width: auto;
    height: 50px;
    text-align: center;
}

.navbar_list_item-link {
    color: white;
}

.navbar {
    padding: 0;
    height: 40px;
}

.navbar_list {
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.navbar_list_item {
    height: 100%;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    flex: 1;
    border: 1px solid black;
    line-height: 40px;
}



