* {
	padding: 0; 
	margin: 0;
}
.center {
	text-align: center;
}
.contain_calculator {
	font-family: sans-serif;
	width: 300px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.calculator {
	width: 100%;
}
.contain_display_calculate {
	padding-bottom: 0;
}
.contain_display_result {
	padding-top: 0;
}
.display_calculate {
	width: 100%;
	border: 2px solid #666; 
	font-size: 20px; 
	border-bottom: none;
	padding: 0 5px;
}
.display_result {
	width: 100%;
	border: 2px solid #666; 
	font-size: 20px; 
	border-top: none;
	padding: 0 5px;
}
.space {
	line-height: 5px;
}
td {
	padding: 2px;
	padding-bottom: none;
}
button {
	width: 100%;
}