aside {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 340px; /* Set the width for the menu */
    background-color: white; /* Background color for the menu */
    position: fixed; /* Keep the menu fixed in its position */
    top: 0; /* Position from the top of the viewport */
    left: 0; /* Position from the left of the viewport */
    height: 100%; /* Occupy full height of the viewport */

}
.menu li a{
    display: block; /* Display menu items as blocks */
}
.menu li{
    display: block;
    color: rgb(74, 120, 156); /* Link text color */
    text-align: center;
    text-decoration: none;
}
li{
    float: top; 
}
h1{

    margin: 0px;
    padding: 12px;
    display: block;
    color: gray; /* Link text color */
    text-align: center;
    border: 2px solid #e7e7e7;
}
.search-bar {
    width: 230px; /* Độ rộng */
    height: 30px; /* Chiều cao */
    border: 2px solid #ccc; /* Viền */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px; /* Khoảng cách bên trong */
    float: left;
    font-size: 18px;
    padding-left: 10px;
}
hr {
    border: 1px solid #e7e7e7;
}
.search-button {
    padding: 10px; /* Khoảng cách bên trong */
    float: left;
    border: 2px solid #ccc;
    height: 43px;
    width: 50px;
    font-size: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
form{
    padding: 15px;
    border: 2px solid #e7e7e7;
    border-top: none;
}
.material-icons{
    float: left;
    color: rgb(74, 120, 156);
    padding-left: 20px;
    padding-top: 17px;
    text-align: left;
}
h3{
    float: left;
    text-align: left;
    color: rgb(74, 120, 156);
    padding-left: 12px;
    border: none;
}
.qlc{
    border: 2px solid #e7e7e7;
    border-top:none ;
    background-color: #e7e7e7;
}
.cd1{
    float: left;
    color: rgb(74, 120, 156);
    padding-top: 20px;
    padding-left: 180px;
}
.cd2{
    float: left;
    color: rgb(74, 120, 156);
    padding-top: 20px;
    padding-left: 170px; 
}
.quanly{
    border: 2px solid #e7e7e7;
    border-top: none;
}
.fa-sitemap{
    float: left;
    color: rgb(74, 120, 156);
    padding-left: 25px;
    padding-top: 17px;
    text-align: left;
}
.sp{
    border: 2px solid #e7e7e7;
    border-top:none ;
    background-color: #e7e7e7;
    padding-left: 42px;
}
